<!Doctype html>
<html>
	<head>
		<title>Sizkar | Welcome</title>
	</head>
	<body>
		<div class="logo">
			<%= image_tag "logo.png" %>
		</div>
		<div class="welcome_footer">
			<p class="coming_soon_text">Best e-commerce website coming soon..</p>
		</div>
	</body>
</html>
